@import "tailwindcss";

:root {
  color-scheme: light dark;
}

/* global background/text */
body {
  background-color: light-dark(#ffffff, #000000);
  color: light-dark(#000000, #ffffff);
}

/* Custom MARQUEE */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-marquee {
  animation: marquee 10s linear infinite;
}

@keyframes marquee-alternate {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(calc(100% - var(--move-distance, 100%)));
  }
}

/* Utility class for the animation */
.animate-marquee-alternate {
  animation: marquee-alternate var(--speed, 5s) ease-in-out infinite alternate;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(#ffffff, #000000);
  color: light-dark(#0a0d12, #fdfdfd);
}

/* CURTAIN MENU ANIMATION */

.radio1:checked ~ .slide-curtain {
  /* Apply the styles of .curtain-open when peer is checked */
  animation-name: curtain-slide-to-l;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.radio2:checked ~ .slide-curtain {
  /* Apply the styles of .curtain-open when peer is checked */
  animation-name: curtain-slide-to-r;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: none;
}

@keyframes curtain-slide-to-l {
  0% {
    /* Hidden (Cut 100% from the right */
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    transform: translate(100%);
  }

  100% {
    /* Fully visible (No cut from any side) */
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transform: translate(0px);
  }
}

@keyframes curtain-slide-to-r {
  0% {
    /* Fully visible (No cut from any side) */
    opacity: 1;
    clip-path: inset(0 0 0 0);
    transform: translate(0px);
  }

  100% {
    /* Hidden (Cut 100% from the right) */
    opacity: 0;
    clip-path: inset(0 100% 0 0);
    transform: translate(100%);
  }
}
